.DS_Store
Thumbs.db

# /build
# /dist
# /*.exe
# /*.dll
# /*.so
# /*.dylib

__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/
*.sublime-*
*.swp

*.log

*.tmp

/node_modules/
/yarn.lock
/pip-lock.txt

.env

secrets.yml
database.yml
